<ion-view class="signupbg" title="Login">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear" style="display: block;" ng-click="goBack()">
      <i class="icon ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="list">
      <ion-md-input ng-model="loginuser.email" placeholder="Email Address"  highlight-color="balanced" type="text"></ion-md-input>
      <ion-md-input ng-model="loginuser.password" placeholder="Email Password" highlight-color="energized" type="password"></ion-md-input>
    </div>
    <div class="padding">
      <button ng-click="EmailLogin()"  class="button button-full emaillogin-btn">Login</button>
    </div>
    <div class="padding forget-pos">
      <span class="forget-color" ng-click="ForgetPwdPage()">Forgot password?</span>
    </div>
  </ion-content>
</ion-view>



