<ion-modal-view class="signupbg">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <a class="button button-clear" on-touch="ClosePhoneContactPage()">Close</a>
    </div>
    <h1 class="title">Choose Emails</h1>
    <div class="buttons">
      <a class="button button-clear" on-touch="SelectEmails()">Apply</a>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="email_list">
      <ul>
        <li class="item item-checkbox" style="padding-left: 10px;" ng-repeat="email in emailAddrs">
          {{email.value}}
          <label class="checkbox">
            <input type="checkbox" class="guest_itemcheck">
          </label>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-modal-view>

